body{
    background-color: rgb(241, 203, 77);
}



.container{
width: 960px;
height: 1000px;
background-color: cornflowerblue;
border: solid 2px black;
text-align: center;
margin: 0 auto;
margin-top: 90px;
font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.timer{
    width: 500px;
    height: 100px;
    background-color: rgb(241, 203, 77);
    color: black;
    text-align: center;
    margin: 0 auto;
    border: solid 2px black;
}

.buttons{
    width: 600px;
    height: 400px;
    background-color: rgb(241, 203, 77);
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 0 auto;
    border: solid 2px black;
    margin: 20px;
    margin-left: 160px;
}

#btn1, #btn2, #btn3, #btn4{
    width: 450px;
    height: 60px;
    margin: 20px;
}

#questions{
    height: 60px;
    width: 450px;
    margin: 20px;
    border: solid 2px black;
    text-align: center;
    margin: 0 auto;
    background-color: rgb(241, 203, 77);

}

button:hover{
    background-color: skyblue;
}